# Ignore all node_modules
**/node_modules/

# Ignore environment files everywhere
**/.env

# Ignore build/dist folders everywhere
**/dist/
**/build/

# Logs
**/*.log


# System files
.DS_Store
Thumbs.db
